<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Lato:400,300' rel='stylesheet' type='text/css'>

<!-- FORT AWESOME CDN -->
<script src="https://use.fonticons.com/42d5154a.js"></script>

<meta property="og:url"                content="http://www.nytimes.com/2015/02/19/arts/international/when-great-minds-dont-think-alike.html" />
<meta property="og:type"               content="article" />
<meta property="og:title"              content="{{ page.og_title }}" />
<meta property="og:description"        content="{{ page.og_description }}" />
<meta property="og:image"              content="{{ page.og_image }}" />
