<footer>
	<div class="wrapper">
		<div class="pad-container">
			
		  <div class="footer-item-container">
			  
			<div class="footer-item">	
			<a href="https://github.com/riseink"><i class="fa fa-github-alt"></i> <span>Check the source code for this</span>
			 </a></div>
		
			<div class="footer-item">	
			<a href="https://www.linkedin.com/in/seth-epstein-70987831?trk=hp-identity-name"><i class="fa fa-linkedin-square"></i><span> Look me up </span>
			 </a></div>
		
			<div class="footer-item">	
			<a href="https://www.facebook.com/seth.epstein.520"> <i class="fa fa-facebook-square"></i> <span>Stalk me </span>
			</a></div>
		
			<div class="footer-item">	
			<a href="mailto:seth.a.epstein@gmail.com"> <i class="fa fa-paper-plane"></i><span>Shoot an email to seth.a.epstein@gmail.com</span>
			 </a></div>

		</div><!-- footer-item-container -->
		
		
	    <div class="copyright-ribbon">
	        © 2016 Capture-Art All rights reserved.
	    </div>

		
	 </div>
   </div>
		
</footer><!-- footer -->

