.header{
height: 65px;
position: fixed;
background:url(../img/navbar-repeat.jpg);
width:100%;
z-index:9;
overflow:hidden;
}

.sticky.header{
height: 65px;
position: fixed;
background:url(../img/navbar-repeat.jpg);

width:100%;
}

.logo-container{
  float:left;
  display:block;
  width:254px;
  
  @include respond-to(xxs) {
    width:224px;
  }
}

.logo-container img{
height:100%;
width:auto;

@include respond-to(xxs) {
	height:65px;
	width:100%;
}


}



.hamburger-container{
  float:right;
  margin-right:30px;
  transition: all .5s!important;
  z-index:1;
  
  
  @include respond-to(xxs) {
	  margin-right:20px;
  }

  
}




