<!DOCTYPE html>
<html>
    <head>

		{% include ascii.html %} 
		{% include favicon.html %} 
			
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">
		{% include meta.html %} 
		{% include fonts.html %} 

        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
		    <script type="text/javascript" charset="utf-8" src="https://animate.adobe.com/runtime/6.0.0/edge.6.0.0.min.js"></script>
		
        {% stylesheet main %}
		<script src="../js/ads.js" id="targetAnimations"></script>
		
        {% javascript application %}

    </head>
    <body>
		<a class="offset_anchor" id="page_top"></a>
		
		<div id="o-wrapper" class="o-wrapper">
		<div class="header targetScrollImage">
			<div class="wrapper">
				<div class=" logo-container bg-primary">
					<a href="/#page_top"><img src="/img/navbar-logo.png" ></a>
				</div>
				<div class="hamburger-container bg-primary" id="c-button--slide-right">
					
					<img src="/img/hamburger.png" >
				</div>
			</div>
		</div><!-- header -->

        <div class="site">


          {{ content }}


          </div><!-- site -->
		  {% include footer.html %} 
		  
        </div><!-- o-wrapper -->
		<nav id="c-menu--slide-right" class="c-menu c-menu--push-right">
		  <button class="c-menu__close">
			  CLOSE MENU
		  </button>
		  <ul class="c-menu__items">
			  {% include nav.html %} 
		  </ul>
		</nav><!-- /c-menu push-right -->
		<div id="c-mask" class="c-mask"></div><!-- /c-mask -->
    </body>
</html>
